<footer>

  <div class="footer-nav-wrapper">
    <div class="content-container">
      <nav class="footer-nav" role="navigation">
        <ul>
          <li class="footer-nav-item">
            <a href="/" class="footer-nav-link">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="mailto:climate.adapt@eea.europa.eu" class="footer-nav-link">Contact</a>
          </li>
          <li class="footer-nav-item">
            <a href="/sitemap" class="footer-nav-link">SITE MAP</a>
          </li>
          <li class="footer-nav-item">
            <a href="/privacy-and-legal-notice" class="footer-nav-link">Privacy and Legal Notice</a>
          </li>
          <li class="footer-nav-item align-right footer-login">
              <!-- <a href="/login" id="personaltools-login" rel="#pb_1" class="footer-nav-link link-overlay" style="cursor: pointer;"><i class="fa fa-user"></i> Log in</a> -->

              <div class="login">
                <div id="personal-menu">
                  <a class="personal-menu-action">
                    <i class="fa fa-user"></i>
                    <span class="login-text">Login</span>
                    <span class="user-name">user name</span>
                    <i class="angle-down-icon"></i>
                  </a>
                </div>
                <div class="login-container">
                  <form class="login-form">
                    <input type="text" placeholder="Email" />
                    <input type="text" placeholder="Password" />
                    <button type="submit" class="footer-nav-link"><i class="fa fa-user" aria-hidden="true"></i> Log in</button>
                  </form>
                  <ul id="portal-personaltools">
                    <li><a href="#">test</a></li>
                  </ul>
                </div>
              </div>

          </li>
          <li class="footer-nav-item align-right footer-logged-menu">
            <a href="/user-dashboard" class="footer-nav-link"><i class="fa fa-user"></i> dashboard</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="content-container">
    <div class="row footer-content">
      <div class="column col-md-6 col-xs-12">
        <p class="site-info">The European Climate Adaptation Platform Climate-ADAPT is a partnership between the <a href="https://ec.europa.eu/">European Commission</a> and the <a href="https://www.eea.europa.eu/">European Environment Agency.</a></p>
        <div class="footer-logos-wrapper">
          <a href="https://ec.europa.eu/"
             rel="noopener">
            <img data-src="{{ themeurl }}static/images/ec_logo.svg"
                 alt="European Commission Logo"
                 title="European Commission"
                 width="160"
                 height="40"
                 class="lazyload"/>
          </a>
          <a href="https://www.eea.europa.eu/"
             rel="noopener">
            <img data-src="{{ themeurl }}static/images/EEA-logo.png"
                 alt="EEA Logo"
                 title="European Environment Agency"
                 width="114"
                 height="40"
                 class="lazyload"/>
          </a>
        </div>
      </div>

      <div class="eu-systems column col-md-6 col-xs-12">
        <div class="eu-systems-wrapper">
          <p>Other European Information Systems:</p>
          <ul class="footer-logos">
            <li class="footer-logo-item">
              <a href="https://biodiversity.europa.eu/"
                rel="noopener">
                <img data-src="{{ themeurl }}static/images/bise-logo.svg"
                     alt="BISE Logo"
                     title="Biodiversity Information System for Europe"
                     width="105"
                     height="35"
                     class="lazyload"
                     />
              </a>
            </li>
            <li class="footer-logo-item">
              <a href="https://water.europa.eu/"
                 rel="noopener">
                <img data-src="{{ themeurl }}static/images/wise-logo.png"
                     alt="WISE Logo"
                     title="Water Information System for Europe"
                     width="78"
                     height="35"
                     class="lazyload"
                     />
              </a>
            </li>
            <li class="footer-logo-item">
              <a href="https://climate.copernicus.eu/"
                 rel="noopener">
                <img data-src="{{ themeurl }}static/images/c3s-logo.png"
                     alt="Copernicus Climate Logo"
                     title="Climate Change Service"
                     width="124"
                     height="37"
                     class="lazyload"
                     />
              </a>
            </li>
            <li class="footer-logo-item">
              <a href="https://drmkc.jrc.ec.europa.eu/"
                 rel="noopener">
                <img data-src="{{ themeurl }}static/images/drmkc-logo.png"
                     alt="DRMKC Logo"
                     title="Disaster Risk Management Knowledge Centre"
                     width="84"
                     height="30"
                     class="lazyload"
                     />
              </a>
            </li>
            <li class="footer-logo-item">
              <a href="https://forest.eea.europa.eu/"
                 rel="noopener">
                <img data-src="{{ themeurl }}static/images/forest.svg"
                     alt="FISE Logo"
                     title="Forest Information System for Europe"
                     width="133"
                     height="36"
                     class="lazyload"
                     />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</footer>
