<div class="dynamic-area">
  <div class="content-container">
    <ul class="nav nav-tabs main-nav-tabs">
      <!-- <li class="main-tab-item active">
        <a href="#t-started">
          <span class="d-icon started-icon"></span>
          Getting <br> Started
        </a>
      </li> -->
      <li class="main-tab-item active">
        <a href="#t-started">
          <span class="d-icon feature-icon"></span>
          New <br> feature
        </a>
      </li>
      <li class="main-tab-item">
        <a href="#t-database">
          <span class="d-icon database-icon"></span>
          Search the <br> Database
        </a>
      </li>
      <li class="main-tab-item">
        <a href="#t-policies">
          <span class="d-icon policy-icon"></span>
          EU Sector <br> Policies
        </a>
      </li>
      <li class="main-tab-item">
        <a href="#t-countries" data-tab='countries' class="map-tab">
          <span class="d-icon eu-icon"></span>
          Country <br> Profiles
        </a>
      </li>
      <li class="main-tab-item">
        <a href="#t-studies">
          <span class="d-icon case-icon"></span>
          Case <br> Studies
        </a>
      </li>
      <li class="main-tab-item ast-section">
        <a href="#t-adapt">
          <span class="d-icon ast-icon"></span>
          Adaptation <br> Support Tool
        </a>
      </li>
    </ul>

  </div>

  <div class="tab-container">
    <div class="content-container">
      <div class="tab-content tab-body clearfix">

        <!-- {{!-- Getting started --}}
        <div class="tab-pane active fade in text-center" id="t-started">
          <h2>Are you new to Climate-ADAPT?</h2>
          <div class="row">

            {{!-- Local --}}
            <div class="col-6 col-md-4 col-sm-6">
                <video
                  data-matomo-title="Climate ADAPT Local"
                  controls="controls"
                  preload="metadata"
                  poster="{{ themeurl }}static/images/getting-started-local.png"
                  src="https://cmshare.eea.europa.eu/s/KbaSFnSGyQZra5L/download"
                  type="video/mp4"
                  width="100%"
                  style="max-width:300px;"
                  height="180"> </video>
                <div class="video-caption">
                    <p>I want to develop a <strong>LOCAL</strong> adaptation strategy <br> or action plan. test message.</p>
                </div>
            </div>

            {{!-- National --}}
            <div class="col-6 col-md-4 col-sm-6">
                <video
                  data-matomo-title="Climate ADAPT National"
                  controls="controls"
                  preload="metadata"
                  poster="{{ themeurl }}static/images/getting-started-national.png"
                  src="https://cmshare.eea.europa.eu/s/7XiT5R6miLTXXFt/download"
                  type="video/mp4"
                  width="100%"
                  style="max-width:300px;"
                  height="180"> </video>
                <div class="video-caption">
                  <p>I want to develop a <strong>NATIONAL</strong> or <strong>REGIONAL</strong> <br> adaptation strategy or action plan.</p>
                </div>
            </div>

            {{!-- Transnational --}}
            <div class="col-6 col-md-4 col-sm-6">
                <video
                  data-matomo-title="Climate ADAPT TransNational"
                  controls="controls"
                  preload="metadata"
                  poster="{{ themeurl }}static/images/getting-started-transnational.png"
                  src="https://cmshare.eea.europa.eu/s/wRWfQsPzREXWrwn/download"
                  type="video/mp4"
                  width="100%"
                  style="max-width:300px;"
                  height="180"> </video>
                <div class="video-caption">
                  <p>I want to develop a <strong>TRANSNATIONAL</strong> adaptation <br> strategy or action plan.</p>
                </div>
            </div>
          </div>
        </div> -->

        {{!-- New feature --}}
        <div class="tab-pane active fade in" id="t-started">
          <div class="new-feature row">
            <div class="col-md-6 col-sm-12 feature-section">
              <img src="/++theme++climateadaptv2/static/images/ecde-logo.svg"
              alt="Health Observatory Logo"
              width="172"
              height="58"
              />
              <p class="feature-text">The European Climate Data Explorer provides
                interactive access to many climate indices from the Copernicus
                Climate Change Service in support of climate change adaptation.</p>
              <div class="bottom-section">
                <a class="standard-button primary-button feature-btn"
                href="/knowledge/european-climate-data-explorer/">
                Go to the European Climate Data Explorer</a>
              </div>
            </div>

            <div class="col-md-6 col-sm-12 feature-section">
              <img src="/++theme++climateadaptv2/static/images/health-logo.svg"
              alt="Health Observatory Logo"
              width="220"
              height="58"
              />
              <p class="feature-text">We provide access to a wide range of
                relevant publications, tools, websites and other resources
                related to climate change
                and health.</p>
              <div class="bottom-section">
                <a class="standard-button primary-button feature-btn"
                href="/observatory">Go to the Observatory</a>
              </div>
            </div>
          </div>
        </div>

        {{!-- old feature --}}
        <!-- <div class="tab-pane active fade in" id="t-started">
          <div class="new-feature row">
            <div class="col-md-4 col-sm-12">
              <div>
                <img src="/++theme++climateadaptv2/static/images/health-logo.png"
                     alt="Health Observatory Logo"
                     width="212"
                     height="58"
                     />
                <p class="feature-text">We provide access to a wide range of
                relevant publications, tools, websites and other resources
                related to climate change
                and health.</p>
                <a class="standard-button primary-button feature-btn"
                   href="/observatory">Go to the Observatory</a>
              </div>
            </div>

            <div class="col-md-8 col-sm-12">
              <div class="health-boxes row">
                <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="box-container">
                    <div class="health-box-image">
                      <img class="box-image"
                           src="/++theme++climateadaptv2/static/images/Logo_partners.svg"/>
                      <div class="health-box-layer"></div>
                    </div>

                    <div class="health-top-content">
                      <h5>Partners</h5>
                      <p>Discover who is contributing to the Observatory</p>
                      <div class="health-footer">
                        <a class="health-learn-more" href="/observatory/About/about-the-observatory#partners">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="box-container">
                    <div class="health-box-image">
                      <img class="box-image"
                           src="/++theme++climateadaptv2/static/images/Logo_country-profiles.svg"/>
                      <div class="health-box-layer"></div>
                    </div>

                    <div class="health-top-content">
                      <h5>Country profiles</h5>
                      <p>See how countries are addressing climate change adaptation in
                      public health</p>
                      <div class="health-footer">
                        <a class="health-learn-more" href="/observatory/policy-context/country-profiles">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="box-container">
                    <div class="health-box-image">
                      <img class="box-image"
                           src="/++theme++climateadaptv2/static/images/Logo_resource-catalogue.svg"/>
                      <div class="health-box-layer"></div>
                    </div>
                    <div class="health-top-content">
                      <h5>Resource catalogue</h5>
                      <p>Search and access the Observatory’s database with Case Studies,
                        Publications, Indicators, Reasearch projects</p>
                      <div class="health-footer">
                        <a class="health-learn-more" href="/observatory/catalogue/">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="column col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <div class="box-container">
                    <div class="health-box-image">
                      <img class="box-image"
                           src="/++theme++climateadaptv2/static/images/Logo_policy.svg"/>
                      <div class="health-box-layer"></div>
                    </div>
                    <div class="health-top-content">
                      <h5>LANCET COUNTDOWN-EEA BRIEFING</h5>
                      <p>Read about the health risks of climate change and related EU policies</p>
                      <div class="health-footer">
                        <a
                          class="health-learn-more"
                          href="https://climate-adapt.eea.europa.eu//observatory/++aq++metadata/publications/responding-to-the-health-risks-of-climate-change-in-europe">
                          Learn more
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div> -->

        {{!-- Search the database --}}
        <div class="tab-pane fade" id="t-database">

        <form class="database-search-box" method="GET" action="/data-and-downloads">
          <input type="text" placeholder="type here ..."
          name="SearchableText" />
          <button class="search-submit"
                  type="submit"
                  aria-label="Search on Climate-ADAPT">
            <i class="fa fa-search"></i>
          </button>
          </form>

          <div class="text-center">
            <p>The database contains quality checked information and is annotated
               by climate adaptation experts with keywords.</p>
            <p>Please check our <a href="/help/guidance">Guidance to search function</a> for more help on how to search the database.</p>
          </div>

          <div class="db-categories flex-wrapper">
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                <i class="fa fa-cogs"></i>
                <span class="total-items">120</span>
                </span>
                <p>Adaptation <br> Options</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-file-text-o"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Case studies</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                <i class="fa fa-compass"></i>
                <span class="total-items">120</span>
                </span>
                <p>Guidance</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-area-chart"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Indicators</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-info-circle"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Information <br> Portals</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-bar-chart"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Maps, graphs <br> and datasets</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-sitemap"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Organizations</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-newspaper-o"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Publication <br> and Reports</p>
              </a>
            </div>
            <div class="db-category-wrapper db-research action-flex-item">
              <a href="#">
                <span class="db-category-icon db-research-icon">
                  <div class="research-icon"></div>
                </span>
                <span class="total-items">120</span>
                <p>Research and <br> Knowledge projects</p>
              </a>
            </div>
            <div class="db-category-wrapper">
              <a href="#">
                <span class="db-category-icon">
                  <i class="fa fa-wrench"></i>
                  <span class="total-items">120</span>
                </span>
                <p>Tools</p>
              </a>
            </div>
          </div> <!-- end of db categories -->

          <div class="see-more-link">
            <a href="../data-and-downloads">
              <i class="fa fa-angle-double-right"></i>
              See complete database
            </a>
          </div>
        </div>

        {{!-- Eu sector policies --}}
        <div class="tab-pane fade" id="t-policies">
          {{> partials/tab-policies }}
          <div class="see-more-link">
            <p>For more informations visit:
              <a href="/cca/eu-adaptation-policy/sector-policies">
                <i class="fa fa-angle-double-right"></i>
                EU Sector Policies
              </a>
            </p>
          </div>
        </div>

        {{!-- Country profiles --}}
        <div class="tab-pane fade tab-map" id="t-countries">

          <svg-container class="svg-header-wrapper svg-map-container"
            data-settings="./@@mapSingleCountrySettings">
            <svg height="300"></svg>
          </svg-container>

          <img src="static/images/country_profile_map_1.png"/>
          <div class="map-caption">
            <p>EEA Member countries are at different stages of preparing,
              developing and implementing national adaptation strategies and plans.</p>
            <p>Click on a specific country on the map or select from the dropdown
              to see the country profile:</p>
            <span class="country-dropdown">
              <select>
                <option selected="selected">Go to country...</option>
                <option>
                  Country name
                </option>
              </select>
            </span>
            <a href="../countries-regions/countries"
               class="standard-button primary-button sm-button">
               See countries webpage
             </a>
          </div>
        </div>

        {{!-- Case studies --}}
        <div class="tab-pane fade" id="t-studies">
          <div class="case-study row">
            <div class="col-md-12">
              <p>Climate-ADAPT case studies showcase initiatives that are already
                being carried out in Europe to adapt to climate change and increase
                resilience to extreme weather and slow-onset events. </p>
              <p>Case studies are flagship of the Climate-ADAPT platform.
                They have a comprehensive structure that covers all the key
                aspects in the implementation cycle of adaptation measures and
                are careful and specifically prepared for Climate-ADAPT by the
                organisation that is involved in the implementation with the
                support of EEA, following a set of
                <a href="https://climate-adapt.eea.europa.eu/repository/11090223.pdf">criteria</a>
                and also in collaboration with the main stakeholders.
                See the <a href="../knowledge/tools/case-studies-climate-adapt">Case Studies Page</a>.</p>
              <div class="ca-booklet">
                <img class="lazyload"
                     data-src="{{ themeurl }}/static/images/ca-booklet.png"
                     width="39"
                     height="54"
                     />
                <p>See how Europe is adapting to climate change:
                  <a class="ca-booklet-link"
                     href="../about/climate-adapt-10-case-studies-online.pdf">
                    <i class="fa fa-angle-double-right"></i>
                    Case studies booklet
                  </a>
                </p>
              </div>
            </div>

            {{!-- Removed see ticket #116766
            <div class="case-study-search col-md-3">
              <img data-src="{{ themeurl }}static/images/case_study_prev.png"
                   class="lazyload"
                   title="Climate-ADAPT case studies"/>
              <p>Find case studies in Europe for different locations as well as for various impacts and sectors:</p>
              <a href="../knowledge/tools/case-studies-climate-adapt">
                <i class="fa fa-angle-double-right"></i>
                Case Study Search Tool
              </a>
            </div>
            --}}
          </div>
        </div>

        {{!-- Adaptation support tool --}}
        <div class="tab-pane fade ast-tab-pane" id="t-adapt">

          <div class="ast-map-image">
            <div class="arrow-round">
              <div class="white-bg"></div>
              <span class="ast-image-title">Adaptation <br /> Support Tool</span>

              <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-1">
                <span class="ast-circle circle-1">1</span>
                <span class="step-text circle-1-text">
                  <p>Preparing the ground for adaptation</p>
                </span>
              </a>

              <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-2">
                <span class="ast-circle circle-2">2</span>
                <span class="step-text circle-2-text">
                  <p>Assessing risks and vulnerability <br> to climate change</p>
                </span>
              </a>

              <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-3">
                <span class="ast-circle circle-3">3</span>
                <span class="step-text circle-3-text">
                  <p>Identifying adaptation options</p>
                </span>
              </a>

              <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-4">
                <span class="ast-circle circle-4">4</span>
                <span class="step-text circle-4-text">
                  <p>Assessing adaptation options</p>
                </span>
              </a>

              <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-5">
                <span class="ast-circle circle-5">5</span>
                <span class="step-text circle-5-text">
                  <p>Implementation</p>
                </span>
              </a>

              <a class="ast-step-wrapper" href="../knowledge/tools/adaptation-support-tool/step-6">
                <span class="ast-circle circle-6">6</span>
                <span class="step-text circle-6-text">
                  <p>Monitoring &amp; Evaluation (M&amp;E)</p>
                </span>
              </a>

            </div>
          </div>

          <ul class="ast-steps">
            <li>
              <a href="../knowledge/tools/adaptation-support-tool/step-1">
                <span class="step-number">1.</span>
                Preparing the ground for adaptation
              </a>
            </li>
            <li>
              <a href="../knowledge/tools/adaptation-support-tool/step-2">
                <span class="step-number">2.</span>
                Assessing risks and vulnerability to climate change
              </a>
            </li>
            <li>
              <a href="../knowledge/tools/adaptation-support-tool/step-3">
                <span class="step-number">3.</span>
                Identifying adaptation options
              </a>
            </li>
            <li>
              <a href="../knowledge/tools/adaptation-support-tool/step-4">
                <span class="step-number">4.</span>
                Assessing adaptation options
              </a>
            </li>
            <li>
              <a href="../knowledge/tools/adaptation-support-tool/step-5">
                <span class="step-number">5.</span>
                Implementation
              </a>
            </li>
            <li>
              <a href="../knowledge/tools/adaptation-support-tool/step-6">
                <span class="step-number">6.</span>
                Monitoring & Evaluation (M&E)
              </a>
            </li>
          </ul>

          <div class="see-more-link">
            <div class="ast-link">
              <div class="ast-link-wrapper">
                <p>For more informations visit:</p>
                <a href="../knowledge/tools/adaptation-support-tool">
                  <i class="fa fa-angle-double-right"></i>
                  Adaptation support tool
                </a>
              </div>
            </div>
            <div class="urban-area">
              <img class="lazyload"
                   data-src="{{ themeurl }}/static/images/uast.png"
                   width="81"
                   height="49"
                   />
              <p>For urban areas guidance visit:</p>
              <a href="../knowledge/tools/urban-ast/step-0-0">
                <i class="fa fa-angle-double-right"></i>
                Urban Adaptation Support Tool
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="blue-bg"></div>
  </div>
</div>
