<div class="policies-dynamic-area">
  <ul class="nav nav-tabs flex-wrapper policies-nav">
    <li class="policies-nav-item active">
      <a href="#agriculture" class="policies-nav-link">
        <div class="policy-icons agriculture"></div>
        <p>Agriculture</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#biodiversity" class="policies-nav-link">
        <div class="policy-icons biodiversity"></div>
        <p>Biodiversity</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#buildings" class="policies-nav-link">
        <div class="policy-icons buildings"></div>
        <p>Buildings</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#coastal-areas" class="policies-nav-link">
        <div class="policy-icons coastal"></div>
        <p>Coastal areas</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#disaster-risk-reduction" class="policies-nav-link">
        <div class="policy-icons disaster"></div>
        <p>Disaster risk <br /> reduction</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#ecosystem" class="policies-nav-link">
        <div class="policy-icons green-infrastructure"></div>
        <p>Ecosystem-based approaches</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#energy" class="policies-nav-link">
        <div class="policy-icons energy"></div>
        <p>Energy</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#financial" class="policies-nav-link">
        <div class="policy-icons financial"></div>
        <p>Financial</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#forestry" class="policies-nav-link">
        <div class="policy-icons forestry"></div>
        <p>Forestry</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#health" class="policies-nav-link">
        <div class="policy-icons health"></div>
        <p>Health</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#marine-and-fisheries" class="policies-nav-link">
        <div class="policy-icons marine"></div>
        <p>Marine <br /> &amp; fisheries</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#transport" class="policies-nav-link">
        <div class="policy-icons transport"></div>
        <p>Transport</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#urban" class="policies-nav-link">
        <div class="policy-icons urban"></div>
        <p>Urban</p>
      </a>
    </li>
    <li class="policies-nav-item">
      <a href="#water-management" class="policies-nav-link">
        <div class="policy-icons water"></div>
        <p>Water <br /> management</p>
      </a>
    </li>
  </ul>

  <div class="tab-content policies-tab-content">

    <!-- Agriculture -->
    <div id="agriculture" class="tab-pane active">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/agriculture.png" alt="Agriculture" title="Agriculture"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Agriculture</h4>
          <p>Climate change has complex effects on the bio-physical processes that underpin agricultural systems, with both negative and positive consequences in different EU regions. Rising atmospheric CO2 concentration, higher temperatures, changes in precipitation patterns and in frequency of extreme events both affect the natural environment as well as the quantity, quality and stability of food production. Climatic variations impact on water resources, soils, pests and diseases, leading to significant changes in agriculture and livestock production.</p>
        </div>
      </div>
    </div>

    <!-- Biodiversity -->
    <div id="biodiversity" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/biodiversity.jpeg" alt="Biodiversity" title="Biodiversity"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Biodiversity</h4>
          <p>Biodiversity plays an important role in regulating the climate, thus making a key contribution to climate change mitigation and adaptation.  At the same time, meeting mitigation targets coupled with ecosystem-based approaches is essential to avert biodiversity loss.  Therefore it is impossible to address biodiversity loss without addressing climate change, but it is equally impossible to tackle climate change without addressing biodiversity loss.</p>
        </div>
      </div>
    </div>

    <!-- Buildings -->
    <div id="buildings" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/buildings.jpeg" alt="Buildings" title="Buildings"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Buildings</h4>
          <p>Buildings can be vulnerable to climate change. In the future there may be an increase in the risk of collapse, declining state and significant loss of value as a result of more storms, snow or subsidence damage, water encroachment, deteriorating indoor climate and reduced building lifetime. The European Commission aims to increase the climate resilience of infrastructure, including buildings. New and existing buildings  need to be assessed for resilience to current risks and future climate changes, and planned or upgraded accordingly. A key policy used to support the resilience of buildings is the Cohesion Policy (also referred to as Regional Policy). </p>
        </div>
      </div>
    </div>

    <!-- Coastal areas -->
    <div id="coastal-areas" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/coastal.jpeg" alt="Coastal areas" title="Coastal areas"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Coastal areas</h4>
          <p>Sea level rise can cause flooding, coastal erosion and the loss of low-lying coastal systems. It will also increase the risk of storm surges and the likelihood of landward intrusion of saltwater and may endanger coastal ecosystems. Expected rises in water temperatures and ocean acidification will contribute to a restructuring of coastal ecosystems; with implications for ocean circulation and biogeochemical cycling.</p>
        </div>
      </div>
    </div>

    <!-- Disaster risk reduction -->
    <div id="disaster-risk-reduction" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/disaster.jpeg" alt="Disaster risk reduction" title="Disaster risk reduction"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Disaster risk reduction</h4>
          <p>Over the past few years, Europe has experienced every type of natural disasters: severe floods, droughts, and forest fires with devastating effects on people's lives, the European economy and the environment. In the past decade, the European Commission adopted several strategies and actions to cope with disaster risk reduction as, for instance, the Floods Directive and its implementation (timetable), the EU Action on Water Scarcity and Drought, the Green Paper on insurance in the context of natural and man-made disasters.</p>
        </div>
      </div>
    </div>

    <!-- Ecosystem-based approaches (GI) -->
    <div id="ecosystem" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/green-infrastructure.jpeg" alt="Ecosystem-based approaches (GI)" title="Ecosystem-based approaches (GI)"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Ecosystem-based approaches</h4>
          <p>Climate change is expected to have severe impacts on the marine environment. Increase in water temperatures will contribute to a restructuring of marine ecosystems with implications for ocean circulation, biogeochemical cycling and marine biodiversity. Ocean acidification will affect the ability of some calcium carbonate-secreting species (as molluscs, planktons and corals) to produce their shells or skeletons. Warmer and more acidic seawater will therefore negatively affect fishery and aquaculture.</p>
        </div>
      </div>
    </div>

    <!-- Energy -->
    <div id="energy" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/energy.jpeg" alt="Energy" title="Energy"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Energy</h4>
          <p>Climate change affects the energy sector in multiple ways, ranging from changes in heating and cooling demand; to impacts on energy supply conditions – for example decreased water availability for hydropower during prolonged droughts and reduced availability of cooling water affecting the efficiency of power plants. Furthermore, energy infrastructure can be more exposed to damages by changing climate conditions. The European Commission in general aims to increase the climate resilience of infrastructure including energy by providing strategical frameworks.</p>
        </div>
      </div>
    </div>

    <!-- Financial -->
    <div id="financial" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/financial.png" alt="Financial" title="Financial"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Financial</h4>
          <p>Extreme weather events in recent years have increased the urgency to mainstream climate change adaptation into the different EU policy fields. There are few specific EU activities to mainstream climate change adaptation into policies for financial and insurance sectors. However many European policies related to natural disasters (see Disaster risk reduction) are very relevant to the financial and insurance sector, as they may help to prevent significant losses and financial disasters. The European Commission has also committed itself to increasing financing of climate-related activities by ensuring that at least 20% of the European budget is climate-related expenditure.</p>
        </div>
      </div>
    </div>

    <!-- Forestry -->
    <div id="forestry" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/forestry.jpg" alt="Forestry" title="Forestry"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Forestry</h4>
          <p>The rapid rate of climate change may overcome the natural ability of forest ecosystems to adapt. It leads to increased risk of disturbances through storms, fire, pests and diseases with implications for forest growth and production. The economic viability of forestry will be affected, mainly in southern areas of Europe, as well as the capacity of forests to provide environmental services, including changes in the carbon sink function. In 2013, the Commission adopted a new EU Forest Strategy, which responds to new challenges facing forests and the forest sector.</p>
        </div>
      </div>
    </div>

    <!-- Health -->
    <div id="health" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/health.png" alt="Health" title="Health"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Health</h4>
          <p>Climate change will generate new health risks and amplify current health problems. Both direct and indirect effects on human, plant and animal health are expected from climate change. Direct effects result from changes in the intensity and frequency of extreme weather events like heatwaves and floods. Indirect effects can be felt through changes in the incidence of diseases transmitted by insects (i.e. vector borne diseases caused by mosquitoes and ticks), rodents, or changes in water, food and air quality. The European Commission's EU strategy on adaptation to climate change is accompanied by a Staff Working Document.</p>
        </div>
      </div>
    </div>

    <!-- Marine and fisheries -->
    <div id="marine-and-fisheries" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/marine_fisheries.jpeg" alt="Marine and fisheries" title="Marine and fisheries"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Marine and fisheries</h4>
          <p>Climate change is expected to have severe impacts on the marine environment. Increase in water temperatures will contribute to a restructuring of marine ecosystems with implications for ocean circulation, biogeochemical cycling and marine biodiversity. Ocean acidification will affect the ability of some calcium carbonate-secreting species (as molluscs, planktons and corals) to produce their shells or skeletons. Warmer and more acidic seawater will therefore negatively affect fishery and aquaculture.</p>
        </div>
      </div>
    </div>

    <!-- Transport -->
    <div id="transport" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/transport.jpg" alt="Transport" title="Transport"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Transport</h4>
          <p>The need for adapting the transport system to the impact of climate change has been highlighted since the European Commission's Adaptation White Paper (COM (2009)148). Transport adaptation is addressed through a combination of European transport, climate change and research policies. The European Union promotes best practices, mainstreaming adaptation within its transport infrastructure development programmes, and provides guidance, e.g. by developing adequate standards for construction. Action is focused on transport infrastructure, and particularly on the Trans-European Transport Network (TEN-T).</p>
        </div>
      </div>
    </div>

    <!-- Urban -->
    <div id="urban" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/urban.jpeg" alt="Urban" title="Urban"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Urban</h4>
          <p>In Europe, nearly 73% of the population live in urban areas and this is projected to increase to over 80% by 2050. Climate change is likely to influence almost all components of cities and towns – their environment, economy and society.  This raises new, complex challenges for urban planning and management. Climate change impacts on the hubs of Europe's economic activity, social life, culture and innovation have repercussions far beyond their municipal borders.</p>
        </div>
      </div>
    </div>

    <!-- Water management -->
    <div id="water-management" class="tab-pane">
      <div class="row">
        <div class="policy-image col-md-3 col-sm-3 col-xs-4">
          <img src="{{ themeurl }}static/images/water.jpeg" alt="Water management" title="Water management"/>
        </div>
        <div class="policy-description col-md-9 col-sm-9 col-xs-8">
          <h4>Water management</h4>
          <p>Water resources are directly impacted by climate change, and the management of these resources affects the vulnerability of ecosystems, socio-economic activities and human health. Water management is also expected to play an increasingly central role in adaptation. Climate change is projected to lead to major changes in water availability across Europe with increasing water scarcity and droughts mainly in Southern Europe and increasing risk of floods throughout most of Europe.</p>
        </div>
      </div>
    </div>

  </div>
</div>
